body {
  background-image: url("./image/background.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: left top
}

button {
  background-color: #a1b8b8d8
}
