/* レイアウト全体 */
.container {
  width: 450px;
  margin: 0 auto;
}
.container_row {
  display: table;
  margin: 20px 0;
}
.container_column {
  vertical-align: middle;
  display: table-cell;
  /*width: 130px;*/
  padding: 9px;
  border: 1px solid #666;
}

/* 背景画像 */
.container {
  background-image: url("./image/background.png");
  background-repeat: repeat;
  background-attachment: scroll;
  /*background-position: right bottom*/
  background-position: left top
}

table {
  background-image: url("./image/background.png");
  background-repeat: repeat;
  background-attachment: scroll;
  /*background-position: right bottom*/
  background-position: left top
}

/* canvas重ね合わせ */
#viewport {
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
    position: relative;
    /*border: 2px solid green;*/
    width: 400;
    height: 400;
}
#viewport canvas {
    /**
     * Position absolute provides canvases to be able
     * to be layered on top of each other
     * Be sure to remember a z-index!
     */
    position: absolute;
    left: 10;
    top: 10;
    width: 300;
    height: 300;
    border: 2px solid red;
}
canvas {
    /**
     * Set transparent to let any other canvases render through
     */
    background-color: transparent;
}

/*ボタン*/
button {
  background-color: #a1b8b8d8
}
